@{
    Layout = null;
}
@{
    var zones = ViewBag.zonesBag;
}
@model MainModel


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - GestionClinique</title>
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/assets/css/style.min.css"/>

</head>
<body class="theme-blush">

<div class="authentication">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <form class="card auth_form" asp-controller="User" asp-action="Login">
                    <div class="header">
                        <img class="logo" src="assets/images/logo.svg" alt="">
                        <h5>Se connecter</h5>
                    </div>
                    <div class="body">
                        <div class="input-group mb-3">

                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" asp-for="zone.id">
                                <option selected="">Selectionnez votre zone de travail</option>
                                @{
                                    foreach (Zone zone in zones)
                                    {
                                        <option value="@zone.id">@zone.Libele</option>
                                    }
                                }
                            </select>

                        </div>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="User.Username"placeholder="Nom d'utilisateur">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="zmdi zmdi-account-circle"></i>
                                </span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="User.Password" placeholder="Password">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <a href="forgot-password.html" class="forgot" title="Forgot Password">
                                        <i class="zmdi zmdi-lock"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                        @*<div class="checkbox">
                            <input id="remember_me" type="checkbox">
                            <label for="remember_me">Remember Me</label>
                        </div>*@
                        <input type="submit" class="btn btn-primary btn-block waves-effect waves-light" value="Se connecter">

                    </div>
                </form>
                <div class="copyright text-center">
                    ©
                    <script>document.write(new Date().getFullYear())</script>2019,
                    <span>
                        <a href="templatespoint.net">Templates Point</a>
                    </span>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                    <img src="assets/images/signin.svg" alt="Sign In">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Jquery Core Js -->
<script src="assets/bundles/libscripts.bundle.js"></script>
<script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

@await Component.InvokeAsync("NToastNotify")
</body>
</html>