@{
    Layout = "_Layout";
}
@model ConsultationModel
<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>Dashboard</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <i class="zmdi zmdi-home"></i>
                        Gestion de clinique/Consultation
                    </a>
                </li>
                <li class="breadcrumb-item active">Ajouter une nouvelle consultation</li>
            </ul>
            <button class="btn btn-primary btn-icon mobile_menu" type="button">
                <i class="zmdi zmdi-sort-amount-desc">
                </i>
            </button>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button">
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>Consultation</strong> Ajout</h2>

            </div>
            <div class="body">
                <p>Formulaire d'ajout de consultation</p>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs p-0 mb-3 nav-tabs-success" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#patient_form">
                            <i class="zmdi zmdi-account"></i> Patient
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile_with_icon_title">
                            <i class="zmdi zmdi-account"></i> Consultation
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#messages_with_icon_title">
                            <i class="zmdi zmdi-email"></i> Analyse
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#settings_with_icon_title">
                            <i class="zmdi zmdi-settings"></i> Prescription
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#settings_with_icon_title">
                            <i class="zmdi zmdi-settings"></i> Resumé
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    @*formulaire d'ajout du patient*@
                    <div role="tabpanel" class="tab-pane in active show" id="patient_form">
                        <b>Informations de base</b>
                        @*ajout du patient*@
                        <form  method="post" enctype="multipart/form-data" >
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Nom </label>
                                        <input type="text" id="lname" placeholder="Nom du patient" name="lname" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="fname">Prénom </label>
                                        <input type="text" id="fname" placeholder="Prénom du patient" name="fname" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="age">Age </label>
                                        <input type="number" id="age"  placeholder="Age du patient"  name="age" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="age">Genre</label>
                                    <div class="form-group">
                                        <select class="selectpicker" id="gender" name="gender">
                                            <option value="0" selected>"Selectionner le genre</option>
                                            <option value="1">Homme</option>
                                            <option value="2">Femme</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="taille">Taille </label>
                                        <input type="number" id="taille" name="taille" placeholder="Taille du patient" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="poids">Poids </label>
                                        <input type="number" id="poids" placeholder="Poid du patient" name="poids" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="">Date de naissance </label>
                                    <input type="date" id="birthdate" class="form-control" name="date">
                                </div>
                                <div class="col-sm-6">
                                        <input type="file" id="pp_file" name="pp_file"/>
                                    </div>
                            </div>
                            <input type="submit" id="saveDoctor" class="btn btn-raised btn-primary btn-round waves-effect" value="Enregistrer">
                        </form>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile_with_icon_title">
                        <b>Profile Content</b>
                        <p>
                            Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                            Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                            pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                            sadipscing mel.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages_with_icon_title">
                        <b>Message Content</b>
                        <p>
                            Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                            Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                            pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                            sadipscing mel.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="settings_with_icon_title">
                        <b>Settings Content</b>
                        <p>
                            Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                            Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                            pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                            sadipscing mel.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
       $(document).ready(function() {
            let saveBtn=$("#saveDoctor")
            var file;
            $("#pp_file").change(function(e) {
                                file=e.target.files[0]
                              });
            saveBtn.click(function() {
             
                  var lname=$("#lname").val()
                  var fname=$("#fname").val();
                  var age=$("#age").val();
                  var genre=$("#gender").val();
                  var taille=$("#taille").val();
                  var poids=$("#poids").val();
                  var birthdate=$("#birthdate").val();
        
                let formdata=new FormData
                formdata.append("lname",lname)
                formdata.append("fname",fname)
                formdata.append("age",age)
                formdata.append("genre",genre)
                formdata.append("taille",taille)
                formdata.append("poids",poids)
                formdata.append("birthday",birthdate)
                formdata.append("user_pp",file)
                
                axios.post('/Consultation/AddPatient',formdata)
                
                
            })
       })
    </script>
}
