@{
    Layout = "_Layout";
}
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model ConsultationModel
<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>Dashboard</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <i class="zmdi zmdi-home"></i>
                        Gestion de clinique/Consultation
                    </a>
                </li>
                <li class="breadcrumb-item active">Ajouter une nouvelle consultation</li>
            </ul>
            <button class="btn btn-primary btn-icon mobile_menu" type="button">
                <i class="zmdi zmdi-sort-amount-desc">
                </i>
            </button>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button">
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>Consultation</strong> Ajout</h2>
            </div>
            <div class="body">
                 <p>Pour tout ajout de consultation veuillez d'abord entrer les informations du patient 
                     et vous serez ensuite rediriger vers une page où vous pouvez continuer la suite du processus</p>
                <!-- Nav tabs -->
              
                <!-- Tab panes -->
                <div class="tab-content">
                    @*formulaire d'ajout du patient*@
                    <div role="tabpanel" class="tab-pane in active show" id="patient_form">
                        <b>Informations de base</b>
                        @*ajout du patient*@

                        <form method="post" asp-action="AddPatient" asp-controller="Consultation">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Nom </label>
                                        <input type="text" asp-for="Patient.lname" class="form-control" id="lname"/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Prenom </label>
                                        <input type="text"asp-for="Patient.fname" class="form-control" id="fname"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Age </label>
                                        <input type="number" asp-for="Patient.age" class="form-control" id="age"/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Poids </label>
                                        <input type="number" asp-for="Patient.poids" class="form-control" id="poids"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Taille </label>
                                        <input type="number" asp-for="Patient.taille" class="form-control" id="taille"/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Genre </label>
                                        <select class="custom-control" id="gender" asp-for="Patient.genre">
                                            <option value="0">Veuillez selectionner le genre</option>
                                            <option value="1">Masculin</option>
                                            <option value="2">Feminin</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Date de naissance </label>
                                        <input type="date" class="form-control" asp-for="Patient.birthdate"/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname">Photo </label>
                                        <input type="file" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-round" id="savePatient" value="Ajouter le patient"/>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile_with_icon_title">
                        <b>Profile Content</b>
                        <p>
                            Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                            Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                            pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                            sadipscing mel.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages_with_icon_title">
                        <b>Message Content</b>
                        <p>
                            Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                            Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                            pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                            sadipscing mel.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="settings_with_icon_title">
                        <b>Settings Content</b>
                        <p>
                            Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                            Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
                            pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
                            sadipscing mel.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@section Scripts
{
    <script>
       $(document).ready(function() {
            let saveBtn=$("#savePatient")
            var file;
            $("#pp_file").change(function(e) {
                                file=e.target.files[0]
                              });
            saveBtn.click(function() {
             
                  var lname=$("#lname").val()
                  var fname=$("#fname").val();
                  var age=$("#age").val();
                  var genre=$("#gender").val();
                  var taille=$("#taille").val();
                  var poids=$("#poids").val();
                  var birthdate=$("#birthdate").val();
        
                let formdata=new FormData
                formdata.append("lname",lname)
                formdata.append("fname",fname)
                formdata.append("age",age)
                formdata.append("genre",genre)
                formdata.append("taille",taille)
                formdata.append("poids",poids)
                formdata.append("birthday",birthdate)
                formdata.append("user_pp",file)
                
                alert(genre);
                e.preventDefault()
                
              /* axios.post('/Consultation/AddPatient',formdata).then(success=>{
                 alert("dsd")
               })*/
                
                
            })
       })
    </script>
}*@