<aside id="leftsidebar" class="sidebar">
    <div class="navbar-brand">
        <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
        <a href="index.html"><img src="assets/images/logo.svg" width="25" alt="Aero"><span class="m-l-10">Aero</span></a>
    </div>
    <div class="menu">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: calc(100vh - 65px);"><ul class="list" style="overflow: hidden; width: auto; height: calc(100vh - 65px);">
            <li>
                <div class="user-info">
                    <a class="image waves-effect waves-block" href="profile.html"><img src="assets/images/profile_av.jpg" alt="User"></a>
                    <div class="detail">
                        <h4>Michael</h4>
                        <small>Super Admin</small>                        
                    </div>
                </div>
            </li>
            <li>
                <a href="sign-in.html" class="mega-menu" title="Sign Out">
                    <i class="zmdi zmdi-power"></i>
                    Se deconnecter
                </a>
            </li>
            <li>
                <a href="index.html" class=" waves-effect waves-block">
                    <i class="zmdi zmdi-home"></i><span>
                        Accueil
                    </span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                    <i class="zmdi zmdi-apps"></i><span>
                        Consultation
                    </span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="mail-inbox.html" class=" waves-effect waves-block">Liste des consultations</a>
                    </li>
                    <li>
                        <a asp-controller="Consultation" asp-action="CreateForm" class=" waves-effect waves-block">Nouvelle consultation</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                    <i class="zmdi zmdi-assignment"></i>
                    <span>
                        Hospitalisation
                    </span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="project-list.html" class=" waves-effect waves-block">Listes des hospitalisations</a>
                    </li>
                    <li>
                        <a href="taskboard.html" class=" waves-effect waves-block">Nouvelle hospitalisation</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class=" waves-effect waves-block">
                    <i class="zmdi zmdi-assignment"></i>
                    <span>
                       Patients
                    </span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class=" waves-effect waves-block">
                    <i class="zmdi zmdi-assignment"></i>
                    <span>
                       Mon Service
                    </span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class=" waves-effect waves-block">
                    <i class="zmdi zmdi-assignment"></i>
                    <span>
                      Mes stats
                    </span>
                </a>
            </li>
        </ul><div class="slimScrollBar" style="background: rgb(238, 238, 238); width: 1px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 3px; z-index: 99; right: 1px; height: 293.851px;"></div><div class="slimScrollRail" style="width: 1px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
    </div>
</aside>
